body {
	background-image: url("../images/ep_naturalwhite.png");
}

.primaryHeader {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #edebdf;
	margin: 0px;
	padding: 30px 56px 31px 56px;
	position: fixed;
	top: 0px;
	left: 60px;
	font-size: 30px;
	font-weight: bold;
}

.secondaryHeader {
	margin: 20px;
	font-family:'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 30px;
	font-weight: bold;
}

h3 {
	margin: 20px;
	font-family:'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 20px;
	font-weight: bold

}

h6 {
	color: #edebdf;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	position: fixed;
	left: 725px;
}

a {
	float: right;
	padding: 40px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
}

p {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;	
	margin: 20px;
}

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 20px;
	margin: 0px;
	height: 60px;
	width: 100%;
	background: #666666;
	border-top: solid 5px #4aaaa5;
}
.sectionHeader {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	height: 90px;
	width: 100%;
	background: #ffffff;
	border-bottom: solid 3px #dddddd;
}

.wrapper{
	width: 100%
	margin: 0 auto;
	padding: 140px 60px;
}

#links {
	position: fixed;
	right: 225px;
	width: 40%;
	height: 65px;
}

.content {
	float: left;
	border: solid 1px #dddddd;
	background-color:#ffffff;
	width: 800px;
	height: 480px;
	clear: both;
}


#BioImage {
	float: left;
	display: inline;
	margin: 20px;
	width:200px;
	height:200px;
}

.LogoFormat {
	width: 65px;
	height: 65px;
}

.ConnectBox {
	float: right;
  	border: solid 1px #dddddd;
  	text-align: center;
  	background: #ffffff;
}

#FormContactReq {
	border: solid 1px #dddddd;
	float: left;
	background-color:#ffffff;
	width: 850px;
	height: 480px;
}

form {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: left;
	border: solid 1px #dddddd;
	position:fixed;
	color: #777777;
	left: 160px;
	padding: 0px 36px 30px 36px;
}

input[type=text] {
	color: #777777;
    width: 510px;
    height: 32px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
	color: #777777;
    width: 510px;
    height: 32px;
    margin: 8px 0;
    box-sizing: border-box;
}

#MessageBox {
	color: #777777;
    width: 510px;
    height: 175px;
    margin: 0px 0;
    padding: 8px;
    box-sizing: border-box;
}

input[type=submit] {
	background-color: #4aaaa5;
	border: none;
	color: #edebdf;
	width: 100px
	height: 36px;
	padding: 10px;
	box-sizing: border-box;
}

#container1{
	position: relative;
}

#container2{
	position: relative;
}

#container3{
	position: relative;
}

#container4{
	position: relative;
}

#container5{
	position: relative;
}

.portfolioImg {
	float: left;
	width: 225px;
	height: 170px;
	margin: 20px;
	display: inline;
}

#caption1 {
	position: absolute;
	text-align:center;
	left: 20px;
	top:  125px;;
	width:225px;
	height: 25px;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #edebdf;
}

#caption2 {
	position: absolute;
	text-align:center;
	left: 285px;
	top:  125px;
	width:225px;
	height: 25px;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #edebdf;
}

#caption3 {
	position: absolute;
	text-align:center;
	left: 550px;
	top:  125px;
	width:225px;
	height: 25px;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #edebdf;
}

#caption4 {
	position: absolute;
	text-align:center;
	left: 20px;
	top:  345px;
	width:225px;
	height: 25px;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #edebdf;
}

#caption5 {
	position: absolute;
	text-align:center;
	left: 285px;
	top:  345px;
	width:225px;
	height: 25px;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #edebdf;
}
}

@media screen and (max-width: 980px) {

.wrapper{
	width: 100%;
	margin: 0 auto;
	padding: 80px;
}

.content {
	width: 850px;
	height: 960px;
	margin-top: 40px;
	clear: both;
}

p {
	font-size: 30px;
	padding: 10px;
}

.secondaryHeader {
	padding: 20px, 5px, 5px, 5px;
	font-size: 55px;
	font-weight: bold;
}

#BioImage {
	float: left;
	display: inline;
	margin: 10px;
	width:325px;
	height:325px;
}


}


@media screen and (max-width: 768px) {

#links {
	right: 60px;
	height: 30px;
}

a {
	padding: 16px;
	float: right;
	font-size: 20px;
}

.wrapper{
	width: 100%
	margin: 0 auto;
	padding: 60px;
}

.content {
	width: 700px;
	height: 860px;
	margin-top: 40px;
	clear: both;
}

p {
	font-size: 20px;
	padding: 10px;
}

.secondaryHeader {
	padding: 20px, 5px, 5px, 5px;
	font-size: 45px;
	font-weight: bold;
}

#BioImage {
	float: left;
	display: inline;
	margin: 10px;
	width:225px;
	height:225px;
}

.ConnectBox {
	width: 700px;
	height: 85px;
	margin-top: 15px;
	margin-bottom: 57px;
	float: left;
}

h3 {
	margin: 15px;
	padding-top: 10px;
	padding-left: 50px;
	float: left;
	font-size: 30px;
}

.LogoFormat {
	width: 65px;
	height: 65px;
}

footer {
	padding: 8px;
	margin: 0px;
	height: 22px;
	width: 100%;
}

h6 {
	left: 300px;
	font-size: 18px;
}

#FormContactReq {
	width: 700px;
	height: 680px;
	margin-top: 40px;
	clear: both;
}

form {
	left: 5px;
	padding: 30px 10px 10px 80px;
	font-size: 25px;
}

input[type=text] {
    width: 655px;
    height: 42px;
}

input[type=email] {
  	width: 655px;
    height: 42px;
}

#MessageBox {
    width: 655px;
    height: 325px;
}

input[type=submit] {
	margin-top:5px;
	font-size: 20px;
}

.portfolioImg {
	text-align: center;
	width: 245px;
	height: 225px;
	margin: 18px;
	margin-left: 55px;
	display: inline;
}

#caption1 {
	padding-top:10px;
	left: 54px;
	top:  125px;
	width: 245px;
	height: 45px;
	font-size: 25px;
}

#caption2 {
	padding-top:10px;
	left: 373px;
	top:  125px;
	width: 245px;
	height: 45px;
	font-size: 25px;
}

#caption3 {
	padding-top:10px;
	left: 54px;
	top:  375px;
	width: 245px;
	height: 45px;
	font-size: 25px;
}

#caption4 {
	padding-top:10px;
	left: 373px;
	top:  375px;
	width: 245px;
	height: 45px;
	font-size: 25px;
}

#caption5 {
	padding-top:10px;
	left: 54px;
	top:  645px;
	width: 245px;
	height: 45px;
	font-size: 25px;
}

}

@media screen and (max-width: 640px) {

.sectionHeader {
	height: 40px;
}

.primaryHeader {
	padding: 14px 15px 12px 15px;
	left: 0px;
	font-size: 15px;
}	

#links {
	right: 80px;
	height: 8px;
}

a {
	padding: 5px;
	float: right;
	font-size: 11px;
}

.wrapper{
	width: 100%
	margin: 0 auto;
	padding: 20px;
}

.content {
	width: 350px;
	height: 800px;
	margin-top: 40px;
	clear: both;
}

p {
	font-size: 14px;
	padding: 5px;
}

.secondaryHeader {
	padding: 20px, 5px, 5px, 5px;
	font-size: 25px;
	font-weight: bold;
}

#BioImage {
	float: left;
	display: inline;
	margin: 10px;
	width:100px;
	height:100px;
}

.LogoFormat {
	width: 45px;
	height: 45px;
}

.ConnectBox {
	width: 350px;
	height: 65px;
	margin-top: 15px;
	margin-bottom: 57px;
	float: left;
}


h3 {
	margin: 5px;
	padding-top: 20px;
	float: left;
	font-size: 14px;
}

footer {
	padding: 8px;
	margin: 0px;
	height: 12px;
	width: 100%;
}

h6 {
	left: 125px;
	font-size: 8px;
}

#FormContactReq {
	width: 350px;
	height: 480px;
	margin-top: 40px;
	clear: both;
}

form {
	text-align: left;
	position:fixed;
	left: 5px;
	padding: 0px 36px 30px 36px;
}

input[type=text] {
    width: 325px;
    height: 32px;
}

input[type=email] {
    width: 325px;
    height: 32px;
}

#MessageBox {
    width: 325px;
    height: 225px;
}

input[type=submit] {
	margin-top:5px;
}

.portfolioImg {
	text-align: center;
	width: 195px;
	height: 125px;
	margin: 10px;
	margin-left: 85px;
	display: inline;
}

#caption1 {
	left: 85px;
	top:  75px;;
	width: 195px;
	height: 25px;
}

#caption2 {
	position: absolute;
	text-align:center;
	left: 85px;
	top:  225px;
	width: 195px;
	height: 25px;
}

#caption3 {
	left: 85px;
	top:  375px;
	width: 195px;
	height: 25px;
}

#caption4 {
	left: 85px;
	top:  525px;
	width: 195px;
	height: 25px;
}

#caption5 {
	left: 85px;
	top:  675px;
	width: 195px;
	height: 25px;

}
}